<div class="models-editor-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="accent" class="example-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name" *ngIf="menuItems && menuItems.length > 0">Редактор форм</h1>
        </div>

        <div fxLayout="column">
            <div class="search-wrapper mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon color="primary">search</mat-icon>
                    <input [formControl]="searchControl" matTooltip="Выполняет поиск по текстовым полям" placeholder="Поиск по слову">
                    <mat-icon *ngIf="searchControl.value !== ''" class="search__clear" color="primary" matSuffix (click)="clear_search_text()">close</mat-icon>
                </div>
            </div>
        </div>

        <div class="save-button-wrapper">
            <button mat-raised-button color="indigo" (click)="save(null)" *ngIf="saveButton"><mat-icon>save</mat-icon> Сохранить</button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav class="mat-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [opened]="mobileQuery.matches ? false : true"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list *ngIf="menuItems && menuItems.length > 0">
                <a mat-list-item (click)="clickMenu(item)" *ngFor="let item of menuItems; let i = index">{{item}}</a>
            </mat-nav-list>


        </mat-sidenav>

        <mat-sidenav-content class="mat-sidenav-content p-12">
            <ng-container *ngIf="itemsList">
                <ngx-datatable
                    class="material"
                    [rows]="rows"
                    [columns]="columns"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                >
                    <ngx-datatable-column name="name">
                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="title">
                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="type">
                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

            </ng-container>
            <ng-container *ngIf="sitebillResponse.success() && !itemsList">

                Ничего не найдено
            </ng-container>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

