<div [ngSwitch]="view" class="views" (click)="$event.stopPropagation()">

    <div class="view" *ngSwitchCase="'main'" [@slideInLeft]>
        <!-- SIDENAV HEADER -->
        <div class="header px-24"  fxLayout="row" fxLayoutAlign="space-between center">
            <div>Порядок колонок</div>
        </div>
        <!-- / SIDENAV HEADER -->
        <!-- SIDENAV CONTENT -->
        <div class="content p-8" fusePerfectScrollbar>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of grid_items" cdkDrag>{{item}}</div>
            </div>
        </div>
        <!-- / SIDENAV CONTENT -->

    </div>


</div>
