<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="menuItems">
    <mat-toolbar color="accent" class="example-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name">{{itemsList.title}}</h1>
        </div>
        <input matInput placeholder="поиск" [formControl]="searchControl">

        <button mat-raised-button color="indigo" (click)="save(null)" *ngIf="saveButton"><mat-icon>save</mat-icon> Сохранить</button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="mat-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [opened]="mobileQuery.matches ? false : true"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item (click)="showAppsConfig(i)" *ngFor="let item of menuItems; let i = index">{{item.title}}</a>
            </mat-nav-list>


        </mat-sidenav>

        <mat-sidenav-content class="mat-sidenav-content p-12">
            <ng-container>
                <config-form-selector
                    [entity]="entity"
                    [config_items]="itemsList.data"
                    [disable_delete]="true"
                    [disable_cancel_button]="true"
                    [disable_save_button]="true"
                    [column_mode]="100"
                    [fake_save]="true"
                    (onSave)="save($event)"
                    (formChanged)="showSaveButton()"
                    [disable_form_title_bar]="true">

                </config-form-selector>
            </ng-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

