<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="true"
                 >
        Sidenav
        <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                {{shoe}}
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
        <p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
        <p><mat-form-field appearance="fill">
            <mat-label>Top gap</mat-label>
            <input matInput type="number" formControlName="top">
        </mat-form-field></p>
        <p><mat-form-field appearance="fill">
            <mat-label>Bottom gap</mat-label>
            <input matInput type="number" formControlName="bottom">
        </mat-form-field></p>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav-content>
</mat-sidenav-container>
