<div fxLayout="column">
    <mat-toolbar>
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">WhatsApp отчет</span>
            <button mat-icon-button (click)="close()" aria-label="Закрыть">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxFlex fxLayout="column" fxLayout.gt-sm="row" class="p-12" fxLayoutAlign="space-between center">
        <div class="fuse-card p-12 m-8" fxFlex="100" fxFlex.gt-sm="50">
            <div class="p-16 pt-8">
                <client-card></client-card>
            </div>
        </div>
        <div class="fuse-card p-12 m-8" fxFlex="100" fxFlex.gt-sm="50">
            <div class="p-16 pt-8">
                <stat-card></stat-card>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="100">
            <messages-grid [client_id]="sendCallbackBundle.entity.get_key_value()"></messages-grid>
        </div>
    </div>
</div>

