<div *ngIf="model">
  <h2>{{ model.name | uppercase }} Details</h2>
  <div><span>id: </span>{{model.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="model.name" placeholder="name"/>
    </label>
  </div>
  <ul>
    <li *ngFor="let column of model.columns">{{column.name}} = {{column.title}}</li>
    </ul>
</div>

<pre>
{{model | json}}
</pre>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->