@import "src/@fuse/scss/fuse";

mat-sidenav-container {
    width: 100%;
    height: 100%;

    mat-sidenav {
        width: 320px !important;
        min-width: 320px !important;
        max-width: 320px !important;
    }

}


::ng-deep .form-ngrx-compose-dialog {

    .mat-dialog-container {
        padding: 0;
        width: 740px;

        .compose-form {

            .mat-form-field {
                width: 100%;
            }

            .attachment-list {
                font-size: 13px;

                .attachment {
                    border: 1px solid;
                    border-radius: 20px;
                    padding-left: 16px;
                    margin-top: 8px;

                    .filename {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
:host /deep/ .datatable-body-row:hover .datatable-body-cell {
}

.control_hover {
    width: 1px;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 50px;
}

:host /deep/ .datatable-body-row:hover .control_hover {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: inherit;
    background-color: lightgray;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
}
:host /deep/ .datatable-body-row:hover .datatable-body-cell {
    overflow: visible !important;
}
:host /deep/ .not-active {
    background: #ef5350;
}
:host /deep/ .hot {
    background: #ffecb3;
}
:host /deep/ .map-container-inner {
    width: 300px;
    height: 200px;
}


#ngx-datatable {

    .header {

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            background: white;

            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }
    }
}

