::ng-deep .form-ngrx-compose-dialog {

    .mat-dialog-container {
        padding: 0;
        width: 740px;

        .compose-form {

            .mat-form-field {
                width: 100%;
            }

            .attachment-list {
                font-size: 13px;

                .attachment {
                    border: 1px solid;
                    border-radius: 20px;
                    padding-left: 16px;
                    margin-top: 8px;

                    .filename {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
:host /deep/ .datatable-body-row:hover .datatable-body-cell {
}

.control_hover {
    width: 1px;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 50px;
}

:host /deep/ .datatable-body-row:hover .control_hover {
    display: flex;
    width: inherit;
    background-color: lightgray;
    overflow: visible;
}
:host /deep/ .datatable-body-row:hover .datatable-body-cell {
    overflow: visible !important;
}
