<ng-template #hdrTpl let-column="column">
    <filter-comp [columnObject]=column [entity]="entity">
    </filter-comp>
</ng-template>

<ng-template #imageTmpl let-column="column" let-row="row" let-value="value">
    <button mat-icon-button (click)="view_gallery(row, column, value)">
        <div matBadge="{{value.length}}" matBadgeColor="accent" matBadgeOverlap="true" *ngIf="value.length > 0">
            <img width="50"
                 src="{{api_url}}/img/data/{{value[0].preview}}" />
        </div>
        <mat-icon aria-label="Добавить изображения" matTooltip="Добавить изображения" *ngIf="value.length == 0">image_search</mat-icon>
    </button>
</ng-template>

<ng-template #photoTmpl let-column="column" let-row="row" let-value="value">
    <button mat-icon-button (click)="view_gallery(row, column, value)">
        <ng-container *ngIf="value != ''">
            <img width="50"
                 src="{{api_url}}/img/data/user/{{value}}" />
        </ng-container>
        <mat-icon aria-label="Добавить изображения" matTooltip="Добавить изображения" *ngIf="value.length == 0">image_search</mat-icon>
    </button>
</ng-template>

<ng-template #textTmpl let-row="row" let-value="value">
    <div [innerHTML]="value|replace:'(<([^>]+)>)':' '|slice:0:70" matTooltip="{{value|replace:'(<([^>]+)>)':' '|replace:'htmlEntities'}}" [matTooltipShowDelay]="1000"></div>
</ng-template>

<ng-template #checkboxTmpl let-row="row" let-value="value">
    <a>
        <mat-icon aria-label="Да" *ngIf="value == 1">check_box</mat-icon>
        <mat-icon aria-label="Нет" *ngIf="value == 0">check_box_outline_blank</mat-icon>
    </a>
</ng-template>
<ng-template #dtdatetimeTmpl let-row="row" let-value="value">
    <ng-container *ngIf="value != '0000-00-00 00:00:00'">
        {{value|date:'dd.LL.yyyy HH:mm:ss'}}
    </ng-container>
</ng-template>

<ng-template #dtdateTmpl let-row="row" let-value="value">
    <ng-container *ngIf="value != '0000-00-00 00:00:00'">
        {{value|date:'dd.LL.yyyy'}}
    </ng-container>
</ng-template>

<ng-template #dttimeTmpl let-row="row" let-value="value">
    <ng-container *ngIf="value != '0000-00-00 00:00:00'">
        {{value|slice:10:16}}
    </ng-container>
</ng-template>

<ng-template #geoTmpl let-row="row" let-value="value">
    <mat-icon *ngIf="value != ''">location_on</mat-icon>
</ng-template>


<ng-template #controlTmpl let-row="row" let-value="value">
    <mat-checkbox class="form-checkbox"></mat-checkbox>
    <div class="control_hover">
        <button mat-icon-button>
            <mat-icon (click)="view(value)" aria-label="Просмотр" matTooltip="Просмотреть запись">pageview</mat-icon>
        </button>
        <span *ngIf="row.active">
            <button mat-icon-button *ngIf="row.active.value == '0'" color="accent">
                <mat-icon (click)="toggle_active(row, value)" aria-label="Включить" matTooltip="Включить">power_settings_new</mat-icon>
            </button>
            <button mat-icon-button *ngIf="row.active.value == '1'" color="warn">
                <mat-icon (click)="toggle_active(row, value)" aria-label="Выключить" matTooltip="Выключить">power_settings_new</mat-icon>
            </button>
        </span>

        <button mat-icon-button>
            <mat-icon (click)="edit_form(value)" aria-label="Редактировать" matTooltip="Редактировать запись">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn">
            <mat-icon (click)="delete(value)" aria-label="Удалить" matTooltip="Удалить запись">delete</mat-icon>
        </button>
    </div>
</ng-template>

<ng-template #clientControlTmpl let-row="row" let-value="value">
    <div class="actions" fxLayout="row" fxLayoutAlign="start center">
        <button *ngIf="value == ''" mat-icon-button matTooltip="Взять заявку" (click)="toggleUserGet(row)" aria-label="Toggle important">
            <mat-icon class="green-fg">attach_money</mat-icon>
        </button>
        <button *ngIf="value != ''" mat-icon-button matTooltip="Отказаться от заявки" (click)="declineClient(row)" aria-label="Toggle important">
            <mat-icon class="red-fg">close</mat-icon> {{value}}
        </button>
    </div>
</ng-template>

<ng-template #clientIdTmpl let-row="row" let-value="value">
    <div class="actions" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button matTooltip="Подробнее" (click)="view_details(value)" aria-label="Toggle star" *ngIf="value > 0">
            {{value}} <mat-icon class="amber-fg">pageview</mat-icon>
        </button>
    </div>
</ng-template>

<ng-template #clientStatusIdTmpl let-row="row" let-rowIndex="rowIndex" let-value="value">
    <div class="actions" fxLayout="row" fxLayoutAlign="start center">
        <span *ngIf="row.user_id.value == 0">
            <span>
                {{value}}
            </span>
        </span>

        <span *ngIf="row.user_id.value != 0">
            <span title="Двойной щелчок для редактирования"
                  (dblclick)="editing[rowIndex + '-status_id'] = true"
                  *ngIf="!editing[rowIndex + '-status_id']">
                {{value}}
            </span>
        </span>

        <select placeholder="Укажите статус заявки"
                *ngIf="editing[rowIndex + '-status_id']"
                (blur)="editing[rowIndex + '-status_id'] = false"
                (change)="updateValue($event, 'status_id', rowIndex, row)"
                [value]="value">
            <option *ngFor="let key of objectKeys(item_model.status_id.select_data)" value="{{key}}">{{item_model.status_id.select_data[key]}}</option>
        </select>
    </div>
</ng-template>
<mat-sidenav-container>

    <div id="ngx-datatable" class="page-layout simple fullwidth">
        <!-- HEADER -->
        <div class="header p-16 p-md-24 accent" fxLayout="column">
            <div class="header-content" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="1 0 auto">
                <!-- BOARD SELECTION BUTTON -->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-raised-button (click)="edit_form(null)" color="fuse-white" matTooltip="Добавить запись">Добавить запись</button>
                </div>
                <!-- / BOARD SELECTION BUTTON -->
                <!-- SEARCH -->
                <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                    <div class="search-wrapper mt-16 mt-sm-0">
                        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon color="primary">search</mat-icon>
                            <input [formControl]="searchInput" placeholder="Поиск по слову">
                            <button mat-icon-button (click)="clear_search_text()" *ngIf="searchInput.value != ''">
                                <mat-icon color="primary" matSuffix>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- / SEARCH -->
                <!-- TOOLBAR -->
                <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlexOrder="3">
                    <button mat-icon-button (click)="refresh()" matTooltip="Обновить таблицу">
                        <mat-icon>autorenew</mat-icon>
                    </button>

                    <!-- SETTINGS BUTTON -->
                    <button mat-icon-button (click)="settingsSidenav.toggle()"
                            aria-label="Настройки таблицы" matTooltip="Настройки таблицы">
                        <mat-icon>settings</mat-icon>
                    </button>

                    <!-- / SETTINGS BUTTON -->
                </div>
                <!-- / TOOLBAR -->
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content" layout="row" fusePerfectScrollbar>
            <!-- WIDGET GROUP -->
            <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                 [@animateStagger]="{value:'50'}">
                <!-- WIDGET 11 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                             fxFlex="100">
                    <!-- Front -->
                    <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                        <div class="message-box error" *ngIf="error">
                            {{error_message}}
                        </div>
                        <ngx-datatable *ngIf="compose_complete" class="material"
                                       [rows]="rows_data"
                                       [columns]="data_columns"
                                       [loadingIndicator]="loadingIndicator"
                                       [columnMode]="'force'"
                                       [headerHeight]="ngxHeaderHeight"
                                       [footerHeight]="56"
                                       [rowHeight]="'auto'"
                                       [scrollbarH]="true"
                                       [reorderable]="reorderable"
                                       [externalPaging]="true"
                                       [count]="page.totalElements"
                                       [offset]="page.pageNumber"
                                       [limit]="page.size"
                                       [selectionType]="'checkbox'"
                                       [rowClass]="getRowClass"
                                       (activate)="onActivate($event)"
                                       (resize)="onResize($event)"
                                       (page)='setPage($event)'>
                        </ngx-datatable>
                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 11 -->
            </div>
            <!-- / WIDGET GROUP -->
        </div>




    </div>

    <mat-sidenav #settingsSidenav position="end">
        <grid-settings [entity]="entity" [grid_items]="grid_columns_for_compose" [page]="page" *ngIf="compose_complete"></grid-settings>
    </mat-sidenav>
</mat-sidenav-container>
