@import "src/@fuse/scss/fuse";

mat-sidenav-container {
    width: 100%;
    height: 100%;

    mat-sidenav {
        width: 320px !important;
        min-width: 320px !important;
        max-width: 320px !important;
    }

}


::ng-deep .form-ngrx-compose-dialog {

    .mat-dialog-container {
        padding: 0;
        width: 740px;

        .compose-form {

            .mat-form-field {
                width: 100%;
            }

            .attachment-list {
                font-size: 13px;

                .attachment {
                    border: 1px solid;
                    border-radius: 20px;
                    padding-left: 16px;
                    margin-top: 8px;

                    .filename {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
:host /deep/ .datatable-body-row:hover .datatable-body-cell {
}

.control_hover {
    width: 1px;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 50px;
}

:host /deep/ .datatable-body-row:hover .control_hover {
    display: flex;
    width: inherit;
    background-color: lightgray;
    overflow: visible;
}
:host /deep/ .datatable-body-row:hover .datatable-body-cell {
    overflow: visible !important;
}

:host /deep/ .image_count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    top: 8px;
    border-radius: 9px;
    padding: 0 5px;
    font-size: 11px;
    text-align: center;
    background-color: #039be5;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
}
