<common-template
    [entity]="entity"
    [disable_activation_button]="disable_activation_button"
    [disable_delete_button]="disable_delete_button"
    [disable_edit_button]="disable_edit_button"
    [disable_view_button]="disable_view_button"
    [enable_coworker_button]="enable_coworker_button"
    [enable_testimonials_button]="enable_testimonials_button"
    [enable_building_blocks_button]="enable_building_blocks_button"
    [disable_gallery_controls]="disable_gallery_controls"
    [complaint_mode]="complaint_mode"
    (viewEvent)="view($event)"
    (edit_formEvent)="edit_form($event)"
    (deleteEvent)="delete($event)"
    (reportEvent)="report($event)"
    (coworkersEvent)="coworkers($event)"
    (testimonialsEvent)="testimonials($event)"
    (building_blocksEvent)="building_blocks($event)"
    (view_galleryEvent)="view_gallery($event)"
    (view_injectorEvent)="view_injector($event)"
    (toggle_activeEvent)="toggle_active($event)"
    (toggle_collectionEvent)="toggle_collection($event)"
>

</common-template>

<mat-sidenav-container>

    <div id="ngx-datatable" class="page-layout simple fullwidth">
        <!-- HEADER -->
        <div class="header-standalone p-8 p-md-8 accent" fxLayout="column"  *ngIf="!disable_header">
            <div class="header-content" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="1 0 auto">
                <!-- BOARD SELECTION BUTTON -->
                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="!disable_add_button">
                    <button class="hidden-lt-md" mat-raised-button (click)="edit_form(null)" color="fuse-white" matTooltip="Добавить запись">Добавить запись
                    </button>
                    <button class="hidden-gt-sm" mat-mini-fab (click)="edit_form(null)" color="fuse-white" matTooltip="Добавить запись">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button
                        class="amber ml-12"
                        *ngIf="filterService.count_share_array(entity.get_app_name()) > get_apps_realty_min_filter_reset_count()"
                        mat-raised-button
                        (click)="reset_filters()"
                        color="teal"
                        matTooltip="Сбросить фильтры">Сбросить фильтры ({{filterService.count_share_array(entity.get_app_name())}})
                    </button>
                </div>

                <!-- / BOARD SELECTION BUTTON -->
                <!-- SEARCH -->
                <div class="ml-sm-32 header__search-row" fxLayout="row" fxLayoutAlign="center center" fxFlex>

                    <div fxLayout="column" *ngIf="!disable_wild_search">
                        <div class="search-wrapper mt-sm-0" *ngIf="!disable_wild_search">
                            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon color="primary">search</mat-icon>
                                <input [formControl]="searchInput" matTooltip="Выполняет поиск по текстовым полям" placeholder="Поиск по слову">
                                <mat-icon *ngIf="searchInput.value !== ''" class="search__clear" color="primary" matSuffix (click)="clear_search_text()">close</mat-icon>
                            </div>
                        </div>
                        <ng-container *ngIf="entity.get_app_name() && modelService.getConfigValue('apps.realty.search_string_parser.enable') === '1'">
                            <search-string-parser [search_string]="searchInput.value" [entity]="entity"></search-string-parser>
                        </ng-container>
                    </div>
                    <button *ngIf="modelService.getConfigValue('apps.mysearch.enable') == 1 && modelService.is_logged_in()" mat-icon-button (click)="save_search()"
                            aria-label="Сохранить поиск" matTooltip="Сохранить поиск" class="mb-4">
                        <mat-icon>save</mat-icon>
                    </button>

                    <button *ngIf="modelService.getConfigValue('apps.mysearch.enable') == 1 && !modelService.is_logged_in()" mat-icon-button (click)="login_modal()"
                            aria-label="Сохранить поиск" matTooltip="Сохранить поиск" class="mb-4">
                        <mat-icon>save</mat-icon>
                    </button>

                </div>
                <!-- / SEARCH -->
                <!-- TOOLBAR -->
                <div class="angular-toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlexOrder="3">

                    <mat-form-field class="pt-12 pr-8 toolbar__daterange" *ngIf="date_range_enable">
                        <input autocomplete="off"
                               matTooltip="Выбрать период времени для отображения записей"
                               matInput
                               type="text"
                               ngxDaterangepickerMd
                               [ranges]="ranges"
                               opens="left"
                               [locale]="date_range_locale"
                               (change)="date_range_change($event, date_range_key)"
                               alwaysShowCalendars="true"
                               [(ngModel)]="selected_date_filter"
                               class="date-range-control"/>
                        <mat-icon *ngIf="!selected_date_filter_has_values; else clearDatepicker" matSuffix>calendar_today</mat-icon>
                        <ng-template #clearDatepicker>
                            <mat-icon class="toolbar__daterange-clear" color="white" matSuffix (click)="clear_selected_date_filter(date_range_key)">close
                            </mat-icon>
                        </ng-template>
                    </mat-form-field>
                    <!--                    <button *ngIf="selected_date_filter_has_values" mat-icon-button matTooltip="Очистить фильтр по дате"-->
                    <!--                            (click)="clear_selected_date_filter(date_range_key)">-->
                    <!--                        <mat-icon color="white" matSuffix (click)="clear_selected_date_filter(date_range_key)">close</mat-icon>-->
                    <!--                    </button>-->

                    <button *ngIf="!disable_refresh_button" mat-icon-button (click)="refresh()" matTooltip="Обновить таблицу" class="mb-4">
                        <mat-icon>autorenew</mat-icon>
                    </button>

                    <!-- SETTINGS BUTTON -->
                    <button *ngIf="!freeze_default_columns_list" mat-icon-button (click)="settingsSidenav.toggle()"
                            aria-label="Настройки таблицы" matTooltip="Настройки таблицы" class="mb-4">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <!-- / SETTINGS BUTTON -->

                    <!-- PDF BUTTON -->
                    <button *ngIf="only_collections && this.modelService.getConfigValue('apps.pdfreport.enable_api_client_report') == 1" mat-icon-button (click)="export_collections_pdf('client')"
                            aria-label="Скачать клиентский PDF" matTooltip="Скачать клиентский PDF" class="mb-4">
                        <mat-icon>picture_as_pdf</mat-icon>
                    </button>
                    <!-- / PDF BUTTON -->

                    <!-- PDF BUTTON -->
                    <button *ngIf="only_collections && this.modelService.getConfigValue('apps.pdfreport.enable_api_staff_report') == 1" mat-icon-button (click)="export_collections_pdf('staff')"
                            aria-label="Скачать PDF для сотрудников" matTooltip="Скачать PDF для сотрудников" class="mb-4">
                        <mat-icon>print</mat-icon>
                    </button>
                    <!-- / PDF BUTTON -->

                    <!-- SHARE MEMORYLIST BUTTON -->
                    <button *ngIf="only_collections &&
                    this.modelService.getConfigValue('apps.memorylist.link_access') == 1"
                            mat-icon-button (click)="share_memorylist()"
                            aria-label="Ссылка на подборку" matTooltip="Ссылка на подборку" class="mb-4">
                        <mat-icon>share</mat-icon>
                    </button>
                    <!-- / SHARE MEMORYLIST BUTTON -->



                </div>
                <!-- / TOOLBAR -->
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content" layout="row">
            <!-- WIDGET GROUP -->
            <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                 [@animateStagger]="{value:'50'}">
                <!-- WIDGET 11 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                             fxFlex="100">
                    <!-- Front -->
                    <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                        <div class="message-box error" *ngIf="error">
                            {{error_message}}
                        </div>
                        <ngx-datatable
                            #gridTable
                            *ngIf="compose_complete"
                            class="table-height material expandable"
                            [rows]="rows_data"
                            [columns]="data_columns"
                            [loadingIndicator]="loadingIndicator"
                            [columnMode]="'force'"
                            [headerHeight]="ngxHeaderHeight"
                            [footerHeight]="56"
                            [rowHeight]="50"
                            [scrollbarH]="scrollbarH"
                            [scrollbarV]="true"
                            [virtualization]="false"
                            [reorderable]="reorderable"
                            [externalPaging]="true"
                            [count]="page.totalElements"
                            [offset]="page.pageNumber"
                            [limit]="page.size"
                            [messages]="{emptyMessage:'Ничего не найдено',totalMessage :'всего',selectedMessage :'выбрано'}"
                            [selectionType]="selectionType"
                            [rowClass]="getRowClass"
                            (activate)="onActivate($event)"
                            (resize)="onResize($event)"
                            (page)="setPage($event)"
                            (select)="onSelect($event)"
                        >

                            <!-- Group Header Template -->
                            <ngx-datatable-group-header *ngIf="enable_grouping" [rowHeight]="50" #myGroupHeader>
                                <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                    <div style="padding-left:5px;">
                                        <button mat-button
                                                title="Expand/Collapse Group"
                                                (click)="toggleExpandGroup(group)"
                                        >
                                            <mat-icon *ngIf="expanded">keyboard_arrow_down</mat-icon>
                                            <mat-icon *ngIf="!expanded">keyboard_arrow_right</mat-icon>
                                            <b>ЖК {{group.value[0][group_key].value_string}}</b>
                                        </button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-group-header>

                        </ngx-datatable>
                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 11 -->
            </div>
            <!-- / WIDGET GROUP -->
        </div>


    </div>

    <mat-sidenav #settingsSidenav position="end">
        <grid-settings [entity]="entity" [grid_items]="grid_columns_for_compose" [page]="page" *ngIf="compose_complete" (close)="settingsSidenav.close()"></grid-settings>
    </mat-sidenav>
</mat-sidenav-container>
