<div class="list">
    <ng-container *ngFor="let rate of ratesList; let index = index">
        <div
            *ngIf="! currentRateEdit || currentRateEdit.rateType !== rate.rateType; else editForm"
            class="list__item"
            [ngClass]="rate.isMain ? 'list__item_main' : ''"
            (click)="onEditRateClick(rate)"
        >
            <div class="list__item-title">{{ rate.title }} <mat-icon class="list__item-icon">edit</mat-icon></div>
            <div class="list__item-value">{{ rate.amount | price }}</div>
        </div>
    </ng-container>
</div>

<ng-template #editForm>
    <mat-card class="form">
        <mat-card-title class="form__title">{{ currentRateEdit.title }}</mat-card-title>
        <mat-card-content>
            <div class="form__row" *ngIf="currentRateEdit.meta.hasFieldSeason">
                <mat-form-field>
                    <input matInput
                           type="text"
                           required
                           [matDatepicker]="startDatepicker"
                           [(ngModel)]="currentRateEdit.season_start"
                           placeholder="Начало сезона"/>
                    <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatepicker></mat-datepicker>
                </mat-form-field>
                &mdash;
                <mat-form-field>
                    <input matInput
                           type="text"
                           required
                           [matDatepicker]="endDatepicker"
                           [(ngModel)]="currentRateEdit.season_end"
                           [disabled]="!currentRateEdit.season_start"
                           [min]="currentRateEdit.season_start"
                           placeholder="Конец сезона"/>
                    <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form__row" *ngIf="currentRateEdit.meta.hasFieldPeriod">
                <mat-form-field>
                    <select [(ngModel)]="currentRateEdit.period_start_m" matNativeControl required>
                        <option *ngFor="let month of form.options.months" [value]="month.id">{{month.title}}</option>
                    </select>
                    <select [(ngModel)]="currentRateEdit.period_start_d" matNativeControl required>
                        <option *ngFor="let day of form.options.days" [value]="day">{{day}}</option>
                    </select>
                </mat-form-field>
                &mdash;
                <mat-form-field>
                    <select [(ngModel)]="currentRateEdit.period_end_m" matNativeControl required>
                        <option *ngFor="let month of form.options.months" [value]="month.id">{{month.title}}</option>
                    </select>
                    <select [(ngModel)]="currentRateEdit.period_end_d" matNativeControl required>
                        <option *ngFor="let day of form.options.days" [value]="day">{{day}}</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="form__row" *ngIf="currentRateEdit.meta.hasFieldMonth">
                <mat-form-field>
                    <select [(ngModel)]="currentRateEdit.month_number" matNativeControl required>
                        <option *ngFor="let month of form.options.months" [value]="month.id">{{month.title}}</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="form__row" *ngIf="currentRateEdit.meta.hasFieldWeekday">
                <mat-form-field>
                    <select [(ngModel)]="currentRateEdit.day_number" matNativeControl required>
                        <option *ngFor="let weekday of form.options.weekdays" [value]="weekday.id">{{weekday.title}}</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="form__row">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="currentRateEdit.amount" placeholder="Стоимость">
                </mat-form-field>
            </div>
            <div class="form__row">
                <mat-checkbox [(ngModel)]="currentRateEdit.active">Активная</mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-actions class="form__actions">
            <button mat-raised-button color="accent" (click)="onSaveRateClick()">Сохранить</button>
            <button mat-raised-button (click)="onCancelEditRateClick()">Закрыть</button>
        </mat-card-actions>
    </mat-card>
</ng-template>
