<div id="login" fxLayout="column">


    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" *ngIf="show_login">

            <div class="title">Авторизация</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                <mat-form-field *ngIf="!hide_domain">
                    <input matInput placeholder="Сайт" formControlName="domain" name="domain" >
                    <mat-error *ngIf="loginFormErrors.domain.required">
                        укажите ваш сайт
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Логин" formControlName="username" name="username">
                    <mat-error *ngIf="loginFormErrors.username.required">
                        укажите ваш логин
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Пароль" name="password" formControlName="password">
                    <mat-error *ngIf="loginFormErrors.password.required">
                        укажите ваш пароль
                    </mat-error>
                </mat-form-field>
                <!--div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Запомпнить меня
                    </mat-checkbox>
                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
        Забыли пароль?
        </a>
                </div-->
                <button mat-raised-button color="accent" class="submit-button" aria-label="Вход"
                        [disabled]="loginForm.invalid">
                    <mat-icon *ngIf="!loading">
                        vpn_key
                    </mat-icon>
                    <mat-icon *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></mat-icon>

                    Вход
                </button>

            </form>

            <ng-container *ngIf="!hide_domain">
                <div class="separator">
                    <span class="text">или</span>
                </div>
                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <span class="text">Еще нет аккаунта?</span>
                    <a class="link" [routerLink]="'/register/'">Создать сайт</a>
                </div>
            </ng-container>

            <ng-container *ngIf="!allow_register">
                <div class="separator">
                    <span class="text">или</span>
                </div>
                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <span class="text">Еще нет аккаунта?</span>
                    <button mat-button color="accent" (click)="show_register_form()">Зарегистрироваться</button>
                </div>
            </ng-container>


            <!--button mat-raised-button class="google">
                Log in with Google
            </button>

            <button mat-raised-button class="facebook">
                Log in with Facebook
            </button>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">Create an account</a>
            </div-->

        </div>

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" *ngIf="show_register">
            <div class="title">Регистрация</div>


            <form name="loginForm" [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
                <mat-form-field>
                    <input matInput placeholder="Логин (email)" formControlName="username" name="username">
                    <mat-error *ngIf="registerFormErrors.username.required">
                        укажите ваш логин
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Пароль" name="password" formControlName="password">
                    <mat-error *ngIf="registerFormErrors.password.required">
                        укажите ваш пароль
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Повторите пароль" name="password_retype" formControlName="password_retype">
                    <mat-error *ngIf="registerFormErrors.password_retype.required">
                        укажите пароль
                    </mat-error>
                </mat-form-field>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Согласен с правилами" formControlName="agree">
                        Согласен с правилами
                    </mat-checkbox>
                    <!--a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Забыли пароль?
                    </a-->
                </div>
                <button mat-raised-button color="accent" class="submit-button" aria-label="Регистрация"
                        [disabled]="registerForm.invalid || registerForm.get('agree').value != true">
                    <mat-icon *ngIf="!loading">
                        create
                    </mat-icon>
                    <mat-icon *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></mat-icon>

                    Регистрация
                </button>

            </form>

            <ng-container>
                <div class="separator">
                    <span class="text">или</span>
                </div>
                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <button mat-button color="accent" (click)="show_login_form()">Войти в существующий аккаунт</button>
                </div>
            </ng-container>
        </div>
        <div id="register-complete" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" *ngIf="registerMessage != null">
            <div class="title"  fxLayout="column" fxLayoutAlign="center center" [innerHTML]="registerMessage|safehtml"></div>
            <ng-container>
                <div class="separator">
                </div>
                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <button mat-button color="accent" (click)="show_login_form()">Войти</button>
                </div>
            </ng-container>
        </div>

    </div>

</div>
