<div id="course-dialog">
    
    <!--h2 mat-dialog-title>Объект</h2-->
    <mat-dialog-content>

        <div fxFlex="50">
        <div *ngIf="rows; else loggedOut">
            <table>
                <tr *ngFor="let x of rows">
                    <td width="30%">{{records[x].title}}</td>
                    <td>



                        <div *ngIf="render_value_string_array.indexOf(records[x].type) > 0">
                            {{records[x].value_string}}
                        </div>            

                        <div *ngIf="records[x].type == 'uploads'">
                            <div *ngFor="let image of records[x].value">
                                <img src="http://genplan1/img/data/{{image.preview}}"/>
                            </div>
                        </div>            
                        
                        <div [innerHTML]=records[x].value *ngIf="render_value_array.indexOf(records[x].type) > 0">
                            
                        </div>            

                    </td>
                </tr>
            </table>    


        </div>    

        <ng-template #loggedOut>
            <mat-spinner></mat-spinner>
        </ng-template>    
        <pre>

        </pre>
        </div>
        <div fxFlex="50">
                <profile-timeline></profile-timeline>
            
        </div>
        

    </mat-dialog-content>

    <mat-dialog-actions>

        <button class="mat-raised-button"
                (click)="close()">
            Закрыть
        </button>

        <!--button class="mat-raised-button mat-primary"
                (click)="save()">
            Save
        </button-->

    </mat-dialog-actions>


</div>