<div id="course-dialog">
<h2 mat-dialog-title>Объект</h2>


<mat-dialog-content>
<div *ngIf="rows; else loggedOut">
<table  border="1">
    <tr *ngFor="let x of rows">
        <td>{{x}}</td>
    </tr>
</table>    
    <pre>
    {{rows | json}}
    </pre>
    
</div>    
    
<ng-template #loggedOut>
  Please friend, login.
</ng-template>    
<pre>

</pre>

</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>


</div>