<div id="select-district" class="dialog-content-wrapper">
    <mat-toolbar>
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Параметры поиска</span>
            <button mat-icon-button (click)="close()" aria-label="Закрыть">
                    <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <!--h2 mat-dialog-title>Объект</h2-->
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form class="example-form" [formGroup]="dialogForm">        

            <ng-select formControlName="district_id"
                       bindValue="id"
                       bindLabel="value"
                       [items]="district_options"
                       [clearOnBackspace]="false"
                       [multiple]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       [closeOnSelect]="false"
                       placeholder="выбрать район"
                       >
            </ng-select>    

            <ng-select formControlName="street_id" 
                       bindValue="id"
                       bindLabel="value"
                       [items]="street_options"
                       [clearOnBackspace]="false"
                       [multiple]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       [closeOnSelect]="false"
                       placeholder="выбрать улицу"
                       >
            </ng-select>    
            
            <ng-select formControlName="complex_id"
                       bindValue="id"
                       bindLabel="value"
                       [items]="complex_options"
                       [clearOnBackspace]="false"
                       [multiple]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       [closeOnSelect]="false"
                       placeholder="выбрать жилой комплекс"
                       >
            </ng-select>    





            <button mat-raised-button matStepperNext type="button" color="accent" (click)="save()">
                Готово
            </button>
            <mat-spinner [diameter]="40" *ngIf="declineProcessing"></mat-spinner>
        </form>

    </div>

</div>