<div id="ngx-datatable" class="page-layout simple fullwidth" *ngIf="config_loaded">
    <ng-container *ngIf="this.modelService.getDomConfigValue('form_mode')">
        <auto-resolver-form
                            [app_name]="this.modelService.getDomConfigValue('component')"
                            [table_name]="this.modelService.getDomConfigValue('table_name')"
                            [primary_key]="this.modelService.getDomConfigValue('primary_key')"
                            [entity_uri]="this.modelService.getDomConfigValue('entity_uri')"
                            [only_field_name]="this.modelService.getDomConfigValue('only_field_name')"
                            [success_message]="this.modelService.getDomConfigValue('success_message')"
        >
        </auto-resolver-form>
    </ng-container>
    <ng-container *ngIf="!this.modelService.getDomConfigValue('form_mode')">
        <ng-container [ngSwitch]="this.modelService.getDomConfigValue('component')">

            <data-grid *ngSwitchCase="'data'">
            </data-grid>

            <cowork-grid  *ngSwitchCase="'coworker'"
                          [disable_header]="false"
                          [disable_wild_search]="true"
                          [freeze_default_columns_list]="true"
                          [disable_view_button]="true"
                          [cowork_object_id]="this.modelService.getDomConfigValue('object_id')"
                          [cowork_object_type]="this.modelService.getDomConfigValue('object_type')">
            </cowork-grid>

            <front-component *ngSwitchCase="'front'">
            </front-component>

            <user-grid *ngSwitchCase="'user'">
            </user-grid>

            <cloud-testimonials-grid *ngSwitchCase="'cloud-testimonials'"
                                     [api_key]="this.modelService.getDomConfigValue('api_key')"
                                     [object_id]="this.modelService.getDomConfigValue('object_id')"
                                     [object_type]="this.modelService.getDomConfigValue('object_type')">
            </cloud-testimonials-grid>

            <auto-resolver-grid *ngSwitchDefault
                                [app_name]="this.modelService.getDomConfigValue('component')"
                                [table_name]="this.modelService.getDomConfigValue('table_name')"
                                [primary_key]="this.modelService.getDomConfigValue('primary_key')">
            </auto-resolver-grid>

        </ng-container>
    </ng-container>
</div>

<div class="page-layout simple fullwidth" *ngIf="access_denied_state">
    <div fxLayout="row" fxLayoutAlign="center center" class="auto-resolver-form">
        <div class="p-12">
            Доступ запрещен
        </div>
    </div>
</div>
