<div id="course-dialog" class="dialog-content-wrapper">
    <mat-toolbar>
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">form</span>
            <button mat-icon-button (click)="close()" aria-label="Закрыть">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    
    <!--h2 mat-dialog-title>Объект</h2-->
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <div fxFlex="60">
            
            <div *ngIf="rows; else loggedOut">
                <form class="example-container" [formGroup]="form" (ngSubmit)="save()">
                    <mat-form-field *ngFor="let x of rows">
                        <span *ngIf="records[x].type == 'textarea_editor'">
                            <ckeditor [editor]="Editor[records[x].name]" [(ngModel)]="anons_edit" [ngModelOptions]="{standalone: true}"></ckeditor>
                            <input formControlName="{{records[x].name}}" matInput [hidden]="true">
                            
                        </span>

                        <input *ngIf="records[x].type != 'textarea_editor'" matInput formControlName="{{records[x].name}}" placeholder="{{records[x].title}}">
                    </mat-form-field>

                    <button mat-raised-button matStepperNext type="submit" color="accent">
                        Искать
                    </button>

                </form>
            </div>
            <ng-template #loggedOut>
                <mat-spinner></mat-spinner>
            </ng-template>
        </div>
        

    </div>

</div>