<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" type="text/css">

<div id="course-dialog" class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Форма</span>
            <button mat-icon-button (click)="close()" aria-label="Закрыть">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <form class="example-container" [formGroup]="form" (ngSubmit)="save()">

        <!--h2 mat-dialog-title>Объект</h2-->
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
            <div *ngIf="rows; else loggedOut">
                <mat-tab-group dynamicHeight *ngIf="tabs_keys">

                    <mat-tab *ngFor="let tab of tabs_keys" label="{{tab}}">
                        <span *ngFor="let x of tabs[tab]">
                            <span [ngSwitch]="records[x].type">
                                <input *ngSwitchCase="'hidden'" [hidden]="true" readonly matInput formControlName="{{records[x].name}}" placeholder="{{records[x].title}}">

                                <mat-form-field *ngSwitchCase="'primary_key'">
                                    <input class="disabled-text" readonly matInput formControlName="{{records[x].name}}" placeholder="{{records[x].title}}">
                                </mat-form-field>

                                <mat-form-field *ngSwitchCase="'dtdatetime'">
                                    <input matInput formControlName="{{records[x].name}}" [required]="records[x].required_boolean" [matDatepicker]="dp" placeholder="{{records[x].title}}">
                                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                    <mat-datepicker #dp
                                                    panelClass="example-month-picker">
                                    </mat-datepicker>
                                </mat-form-field>
                                <uploader-component *ngSwitchCase="'uploads'" [galleryImages]="galleryImages" [entity]="_data" [image_field]="records[x].name"></uploader-component>

                                <span *ngSwitchCase="'select_box_structure'">
                                    <ng-select formControlName="{{records[x].name}}"
                                               [required]="records[x].required_boolean"
                                               appendTo="body"
                                               bindValue="id"
                                               bindLabel="name"
                                               [items]="options_storage[records[x].name]"
                                               [clearOnBackspace]="false"
                                               [searchable]="true"
                                               [multiple]="false"
                                               [hideSelected]="false"
                                               [closeOnSelect]="true"
                                               placeholder="{{records[x].title}}">
                                        <ng-template ng-label-tmp let-item="item" let-index="index">
                                            <span [innerHTML]="item.breadcrumbs">
                                            </span>
                                        </ng-template>

                                        <ng-template ng-option-tmp let-item="item" let-index="index">

                                            <span [innerHTML]="item.name" class="level{{item.level}}">
                                            </span>
                                        </ng-template>
                                    </ng-select>
                                    <mat-error *ngIf="form.controls[records[x].name].status == 'INVALID' && form_submitted">{{records[x].title}} обязательное поле!</mat-error>
                                </span>


                                <span *ngSwitchCase="'select_by_query'">
                                    <ng-select formControlName="{{records[x].name}}"
                                               [required]="records[x].required_boolean"
                                               appendTo="body"
                                               bindValue="id"
                                               bindLabel="value"
                                               [items]="options_storage[records[x].name]"
                                               [clearOnBackspace]="false"
                                               [searchable]="true"
                                               [multiple]="false"
                                               [hideSelected]="false"
                                               [closeOnSelect]="true"
                                               placeholder="{{records[x].title}}">
                                        <ng-template ng-label-tmp let-item="item" let-index="index">
                                            <span [innerHTML]="item.value">
                                            </span>
                                        </ng-template>

                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            <span [innerHTML]="item.value">
                                            </span>
                                        </ng-template>
                                    </ng-select>
                                    <mat-error *ngIf="form.controls[records[x].name].status == 'INVALID' && form_submitted">{{records[x].title}} обязательное поле!</mat-error>
                                </span>

                                <span *ngSwitchCase="'select_box'">
                                    <ng-select formControlName="{{records[x].name}}"
                                               [required]="records[x].required_boolean"
                                               appendTo="body"
                                               bindValue="id"
                                               bindLabel="value"
                                               [items]="options_storage[records[x].name]"
                                               [clearOnBackspace]="false"
                                               [searchable]="false"
                                               [multiple]="false"
                                               [hideSelected]="false"
                                               [closeOnSelect]="true"
                                               placeholder="{{records[x].title}}">
                                        <ng-template ng-label-tmp let-item="item">
                                            <span [innerHTML]="item.value">
                                            </span>
                                        </ng-template>

                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            <span [innerHTML]="item.value">
                                            </span>
                                        </ng-template>
                                    </ng-select>
                                    <mat-error *ngIf="form.controls[records[x].name].status == 'INVALID' && form_submitted">{{records[x].title}} обязательное поле!</mat-error>
                                </span>


                                <mat-checkbox *ngSwitchCase="'checkbox'" class="form-checkbox" [required]="records[x].required_boolean" matInput formControlName="{{records[x].name}}">{{records[x].title}}</mat-checkbox>

                                <mat-form-field *ngSwitchCase="'textarea_editor'">
                                    <quill-editor [(ngModel)]="text_area_editor_storage[records[x].name]" [ngModelOptions]="{standalone: true}"></quill-editor>
                                    <input formControlName="{{records[x].name}}" matInput [hidden]="true">
                                    <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                                </mat-form-field>
                                <span *ngSwitchCase="'geodata'">
                                    Координаты
                                    <input matInput [(ngModel)]="lat" placeholder="lat" [ngModelOptions]="{standalone: true}">
                                    <input matInput [(ngModel)]="lng" placeholder="lng" [ngModelOptions]="{standalone: true}">
                                    <mat-form-field>
                                        <!--ya-map [latitude]="55.76" [longitude]="37.64" (mapClick)="mapClick($event)">
                <ya-marker
                           [latitude]="lat"
                           [longitude]="lng"
                           [draggable]="true"
                           >
                </ya-marker>
            </ya-map-->
                                        <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClick($event)">
                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                        </agm-map>

                                        <input formControlName="{{records[x].name}}" matInput [hidden]="true">
                                        <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                                    </mat-form-field>
                                </span>

                                <mat-form-field *ngSwitchCase="'textarea'">
                                    <textarea matInput matTextareaAutosize formControlName="{{records[x].name}}" [required]="records[x].required_boolean" placeholder="{{records[x].title}}"></textarea>
                                    <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                                </mat-form-field>

                                <mat-form-field *ngSwitchDefault>
                                    <input matInput formControlName="{{records[x].name}}" [required]="records[x].required_boolean" placeholder="{{records[x].title}}">
                                    <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                                </mat-form-field>
                            </span>

                        </span>
                    </mat-tab>

                </mat-tab-group>

            </div>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <button mat-raised-button type="submit" color="accent"  aria-label="Сохранить изменения" matTooltip="Сохранить изменения">
                    Сохранить
                </button>
                <button mat-raised-button type="button" (click)="close()" aria-label="Не сохранять и закрыть форму" matTooltip="Не сохранять и закрыть форму">
                    Отмена
                </button>

            </div>
            <button mat-icon-button (click)="delete()" type="button" aria-label="Удалить запись" matTooltip="Удалить запись">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </form>

    <ng-template #loggedOut>
        <mat-spinner></mat-spinner>
    </ng-template>

</div>