<div id="course-dialog" class="dialog-content-wrapper">
    <mat-toolbar>
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{form_title}}</span>
            <button mat-icon-button (click)="close()" aria-label="Закрыть">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <!--h2 mat-dialog-title>Объект</h2-->
    <div mat-dialog-content class="p-24 m-0 modal-content">
        <ng-template #loggedOut>
            <mat-spinner></mat-spinner>
        </ng-template>

        <ng-container *ngIf="rows; else loggedOut">
            <div class="modal-content__data" fusePerfectScrollbar>
                <form class="example-container" [formGroup]="form" (ngSubmit)="save()">
                    <mat-tab-group dynamicHeight *ngIf="tabs_keys && form_inited">

                        <mat-tab *ngFor="let tab of tabs_keys" label="{{tab}}">

                            <div class="simple clickable data-table">
                                <div class="data-table__row" *ngFor="let x of tabs[tab]">
                                    <div class="primary-50-bg data-table__cell data-table__cell_label" *ngIf="get_colspan(records[x].type, records[x].name) < 2">{{records[x].title}}</div>
                                    <div class="data-table__cell" [ngClass]="{'data-table__cell_fullwidth': get_colspan(records[x].type, records[x].name) > 1, 'text-right': get_colspan(records[x].type, records[x].name) === 1}">
                                        <ng-container *ngIf="records[x].value_string != '' && records[x].value_string != null">{{records[x].value_string}}</ng-container>
                                        <ng-container *ngIf="records[x].value_string == '' || records[x].value_string == null">
                                            <ng-container [ngSwitch]="records[x].type">
                                                <ng-container *ngSwitchCase="'checkbox'">
                                                    <mat-icon *ngIf="records[x].value == 1" class="active-icon green-600 s-16">check</mat-icon>
                                                    <mat-icon *ngIf="records[x].value == 0" class="active-icon red-500 s-16">close</mat-icon>
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'uploads'">
                                                    {{records[x].title}}
                                                    <gallery-component *ngIf="galleryImages[records[x].name].length > 0" [galleryImages]="galleryImages" [entity]="_data" [image_field]="records[x].name"></gallery-component>
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'textarea_editor'">
                                                    <div class="data-table__cell-value data-table__cell-value_overflow text-left" fusePerfectScrollbar>
                                                        {{records[x].title}}
                                                        <div [innerHTML]="records[x].value|safehtml"></div>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'geodata'">
                                                    {{records[x].title}} {{lat}},{{lng}}
                                                    <agm-map [latitude]="lat_center" [longitude]="lng_center">
                                                        <ng-container *ngIf="lat != '' && lng != ''">
                                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                                        </ng-container>
                                                    </agm-map>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'price'">
                                                    {{records[x].value}} <span *ngIf="records[x].currency_id != null">{{records[x].currency_id.value_string}}</span>
                                                </ng-container>


                                                <ng-container *ngSwitchDefault>
                                                    <ng-container [ngSwitch]="records[x].name">
                                                        <ng-container  *ngSwitchCase="'youtube'">
                                                            {{records[x].title}}
                                                            <div [innerHTML]="get_youtube_code(records[x].value)|safehtml"></div>
                                                        </ng-container>
                                                        <ng-container *ngSwitchDefault>
                                                            {{records[x].value}}
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>
            </div>
            <div class="modal-content__comments" *ngIf="_data.is_enable_comment()">
                <mat-accordion>
                    <mat-expansion-panel
                        class="comments"
                        (opened)="commentsBlockMeta.isOpened = true"
                        (closed)="commentsBlockMeta.isOpened = false"
                        hideToggle
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>comment</mat-icon>
                                <strong *ngIf="commentsBlockMeta.commentsTotal" class="comments__total">{{ commentsBlockMeta.commentsTotal }}</strong>
                            </mat-panel-title>
                            <mat-panel-description *ngIf="!commentsBlockMeta.commentsTotal || commentsBlockMeta.isOpened; else extendedCommentsDescription">
                                {{ commentsBlockMeta.isOpened ? 'Скрыть' : 'Показать' }} комментарии
                            </mat-panel-description>
                            <ng-template #extendedCommentsDescription>
                                <mat-panel-description>
                                    <span class="comments__message-preview">{{ commentsBlockMeta?.lastMessage }}</span>
                                    <span>({{ commentsBlockMeta.isOpened ? 'скрыть' : 'показать' }} комментарии)</span>
                                </mat-panel-description>
                            </ng-template>
                            <mat-icon>{{ commentsBlockMeta.isOpened ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
                        </mat-expansion-panel-header>

                        <profile-timeline></profile-timeline>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>

        </ng-container>
    </div>

</div>
