

.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}
:host /deep/ .map-container-inner {
    width: 100%;
    height: 200px;
}
:host /deep/ agm-map {
    height: 300px;
}

.data-table__cell {
    word-break: break-word;
}
.data-table__cell_label {
    width: 40%;
}