

.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}
:host /deep/ .map-container-inner {
    width: 100%;
    height: 200px;
}
:host /deep/ agm-map {
    height: 300px;
}

.data-table {
    width: 100%;
}
.data-table__cell {
    flex: 1;
    max-width: 60%;
}
.data-table__cell_fullwidth {
    max-width: 100%;
    width: 100%;
}
.data-table__cell_label {
    flex: 1;
    max-width: 40%;
}
.data-table__cell-value_overflow {
    max-width: 100%;
    padding-bottom: 16px;
    overflow-x: auto;
}