    <div id="ngx-datatable" class="page-layout simple fullwidth">
        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

            <div class="hero-text">
                <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                    База объектов недвижимости
                </h1>
            </div>

        </div>
        <!-- / HEADER -->

        <div class="content" layout="row" fusePerfectScrollbar *ngIf="modelService.get_nobody_mode()">
            <mat-tab-group dynamicHeight>
                <mat-tab label="Продам">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">
                        <!-- WIDGET 11 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                     fxFlex="100">
                            <!-- Front -->
                            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                <sale-grid
                                        [disable_menu]="true"
                                        [disable_add_button]="disable_add_button"
                                        [disable_edit_button]="disable_edit_button"
                                        [disable_view_button]="disable_view_button"
                                        [disable_delete_button]="disable_delete_button"
                                        [disable_gallery_controls]="disable_gallery_controls"
                                        [disable_activation_button]="disable_activation_button">
                                </sale-grid>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <!-- / WIDGET 11 -->
                    </div>
                    <!-- / WIDGET GROUP -->
                </mat-tab>
                <mat-tab label="Сдам">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">
                        <!-- WIDGET 11 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                     fxFlex="100">
                            <!-- Front -->
                            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                <sale-grid
                                        [disable_menu]="true"
                                        [disable_add_button]="disable_add_button"
                                        [disable_edit_button]="disable_edit_button"
                                        [disable_view_button]="disable_view_button"
                                        [disable_delete_button]="disable_delete_button"
                                        [disable_gallery_controls]="disable_gallery_controls"
                                        [disable_activation_button]="disable_activation_button">
                                </sale-grid>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <!-- / WIDGET 11 -->
                    </div>
                    <!-- / WIDGET GROUP -->
                </mat-tab>
                <mat-tab label="Посуточно">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">
                        <!-- WIDGET 11 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                     fxFlex="100">
                            <!-- Front -->
                            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                <sale-grid
                                        [disable_menu]="true"
                                        [disable_add_button]="disable_add_button"
                                        [disable_edit_button]="disable_edit_button"
                                        [disable_view_button]="disable_view_button"
                                        [disable_delete_button]="disable_delete_button"
                                        [disable_gallery_controls]="disable_gallery_controls"
                                        [disable_activation_button]="disable_activation_button">
                                </sale-grid>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <!-- / WIDGET 11 -->
                    </div>
                    <!-- / WIDGET GROUP -->
                </mat-tab>
                <mat-tab label="Куплю">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">
                        <!-- WIDGET 11 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                     fxFlex="100">
                            <!-- Front -->
                            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                <sale-grid
                                        [disable_menu]="true"
                                        [disable_add_button]="disable_add_button"
                                        [disable_edit_button]="disable_edit_button"
                                        [disable_view_button]="disable_view_button"
                                        [disable_delete_button]="disable_delete_button"
                                        [disable_gallery_controls]="disable_gallery_controls"
                                        [disable_activation_button]="disable_activation_button">
                                </sale-grid>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <!-- / WIDGET 11 -->
                    </div>
                    <!-- / WIDGET GROUP -->
                </mat-tab>
                <mat-tab label="Сниму">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">
                        <!-- WIDGET 11 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                     fxFlex="100">
                            <!-- Front -->
                            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                <sale-grid
                                        [disable_menu]="true"
                                        [disable_add_button]="disable_add_button"
                                        [disable_edit_button]="disable_edit_button"
                                        [disable_view_button]="disable_view_button"
                                        [disable_delete_button]="disable_delete_button"
                                        [disable_gallery_controls]="disable_gallery_controls"
                                        [disable_activation_button]="disable_activation_button">
                                </sale-grid>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <!-- / WIDGET 11 -->
                    </div>
                    <!-- / WIDGET GROUP -->
                </mat-tab>


            </mat-tab-group>

        </div>
    </div>

