<div id="mortgage-calculator">
    <mat-card>
        <mat-card-content>
            <section class="example-section">
                <mat-form-field class="example-margin">
                    <input matInput type="number" placeholder="Стоимость квартиры" [(ngModel)]="realty_price" (ngModelChange)="calculate($event)">
                    <!--span matPrefix>руб&nbsp;</span-->
                    <span matSuffix>&nbsp;руб</span>
                    <mat-slider
                        class="example-margin"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max_realty_price"
                        [min]="min_realty_price"
                        [step]="step_realty_price"
                        [thumbLabel]="thumbLabel"
                        [displayWith]="formatLabel"                        
                        [tickInterval]="tickInterval"
                        [(ngModel)]="realty_price"
                        (ngModelChange)="calculate($event)"
                        [vertical]="vertical">
                    </mat-slider>

                </mat-form-field>
                <mat-form-field class="example-margin">
                    <input matInput type="number" placeholder="Первоначальный взнос" [(ngModel)]="down_payment" (ngModelChange)="calculate($event)">
                    <span matSuffix>&nbsp;руб</span>
                    <mat-slider
                        class="example-margin"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max_down_payment"
                        [min]="min_down_payment"
                        [step]="step_down_payment"
                        [thumbLabel]="thumbLabel"
                        [tickInterval]="tickInterval"
                        [displayWith]="formatLabel"                        
                        [(ngModel)]="down_payment"
                        (ngModelChange)="calculate($event)"
                        [vertical]="vertical">
                    </mat-slider>

                </mat-form-field>
                <mat-form-field class="example-margin">
                    <input matInput type="number" placeholder="Ставка %" [(ngModel)]="percent">
                    <span matSuffix>&nbsp;%</span>
                    <mat-slider
                        class="example-margin"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max_percent"
                        [min]="min_percent"
                        [step]="step_percent"
                        [thumbLabel]="thumbLabel"
                        [tickInterval]="tickInterval"
                        [(ngModel)]="percent"
                        (ngModelChange)="calculate($event)"
                        [vertical]="vertical">
                    </mat-slider>
                </mat-form-field>

                <mat-form-field class="example-margin">
                    <input matInput type="number" placeholder="Срок кредита" [(ngModel)]="years">
                    <span matSuffix>&nbsp;лет</span>
                    <mat-slider
                        class="example-margin"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max_years"
                        [min]="min_years"
                        [step]="step_years"
                        [thumbLabel]="thumbLabel"
                        [tickInterval]="tickInterval"
                        [(ngModel)]="years"
                        (ngModelChange)="calculate($event)"
                        [vertical]="vertical">
                    </mat-slider>
                </mat-form-field>

            </section>

        </mat-card-content>
    </mat-card>

    <mat-card class="result">
        <mat-card-content>
            <p>Сумма кредита: {{credit_sum|number:'1.0-0':'ru'}} руб.</p>
            <p>Ежемесячный платеж: {{month_payment|number:'1.0-0':'ru'}} руб.</p>
            <p>Переплата: {{overpayment|number:'1.0-0':'ru'}} руб.</p>
            <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                <button mat-button color="accent" (click)="order_form()">Оформить заявку</button>
            </div>

        </mat-card-content>
    </mat-card>    

</div>

