#search {
    min-width: 270px;
    width: 100%;
}
.highlight {
    background: yellow;
}
::ng-deep .gold_bg {
    /*background-color: rgb(218,165,32);*/
}
::ng-deep .theme-red-light .gold_bg .ng-select-container, ::ng-deep .theme-red-light .gold_bg .mat-form-field-flex {
    border-bottom: 2px solid red;
}

::ng-deep .more_params {
    height: 400px;
    width: 100%;
}
::ng-deep .custom-slider {
    padding-top: 10px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
    height: 2px;
}
::ng-deep .theme-red-light .custom-slider .ng5-slider .ng5-slider-selection {
    background-color: #f44336; /*red*/
}
::ng-deep .theme-red-light .custom-slider .ng5-slider .ng5-slider-pointer {
    background-color: #f44336;
    width: 8px;
    height: 8px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
::ng-deep .theme-default .custom-slider .ng5-slider .ng5-slider-pointer {
}

::ng-deep .theme-default .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 8px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

::ng-deep .theme-red-light .custom-slider .ng5-slider .ng5-slider-pointer {
    background-color: #f44336;
}

::ng-deep  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

::ng-deep  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
}

::ng-deep  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
}

::ng-deep  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    top: -1px;
}

::ng-deep  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
}
::ng-deep .room_count {
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    flex-direction: column;
}

.mat-slider-horizontal {
    width: 100%;
}

.mat-slider-vertical {
    height: 300px;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
    width: 70px !important;
    height: 70px !important;
    top: -85px !important;
    right: -33px !important;
}

::ng-deep .mat-slider-horizontal .mat-slider-thumb-label {

}
::ng-deep .input-range .mat-form-field-infix {
    padding-top: 5px;
    padding-bottom: 10px;
    border-top-width: 5px;
}
::ng-deep .input-range input {
    font-size: 10px;
}
.level1 {
}

.level2 {
    padding-left: 15px;
}

.level3 {
    padding-left: 30px;
}

.level4 {
    padding-left: 40px;
}

.level5 {
    padding-left: 50px;
}

.level6 {
    padding-left: 60px;
}

.level7 {
    padding-left: 70px;
}

.level8 {
    padding-left: 80px;
}

.level9 {
    padding-left: 90px;
}
::ng-deep .ng-dropdown-panel.select_options {
    width: auto !important;
}
