<div class="page-layout carded left-sidebar inner-scroll">
    <apps-data-sidebar></apps-data-sidebar>
    <!-- CENTER -->
    <div class="center mt-16">

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" fxLayout="row">
                <data-grid [default_user_id]="default_user_id" *ngIf="default_user_id > 0"></data-grid>
                <data-grid *ngIf="default_user_id === 0"></data-grid>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
</div>
