<div class="page-layout carded left-sidebar inner-scroll">
    <apps-data-sidebar></apps-data-sidebar>
    <!-- CENTER -->
    <div class="center mt-16">

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" fxLayout="row">
                <data-grid [default_params]="default_params" *ngIf="switch_trigger"></data-grid>
                <data-grid [default_params]="default_params" *ngIf="!switch_trigger"></data-grid>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
</div>
