::ng-deep .ngx-gallery-thumbnail {
}
::ng-deep .ngx-gallery-thumbnail.ngx-gallery-active {
}

::ng-deep .ngx-gallery-icon {
    padding: 2px;
    font-size: 0.5rem;
}

::ng-deep .ngx-gallery-icon:hover {
    background-color: white;
    font-size: 0.5rem;
    padding: 2px;
}
